* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;

}

.navground{
    background-color: rgba(27, 71, 161, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 147;
    display:block;
    display: none;


    
}

.bkg {
    background-image: url("shape-a.png");
    height: 100%;
    width: 100%;
}


.navbar {
    background-color: white;
    z-index: 111;
    top:0;


}

.navbar-brand img {
    width: 28px;
    height: 28px;
    position: relative;
    bottom: 3px;
}

.navbar-brand h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #394B6C;
    font-weight: 900;
    font-size: 28px;
}

.navbar-brand h1 .c19 {
    color: #4B6691;

}

.navicon {
    font-size: 0px;
    color: #394B6C;
   
    
}
.nav-menu{
      background-color:white;
      display: block;
      z-index:2654;
      position: fixed;
      top:0;

      width: 70%;
      height: 100%;
      display: none;


}
.nav-menu ul{
    display:block;
    

}
.nav-menu ul li{
    margin: 20px;
}
.c1{
    color: #394B6C;
}
.nav-menu ul li a:hover{

color: blue !important;
}
.dnt{
    background-color: #2a81ea;
    color: white;

    border-radius: 25px;
    width: 48%;
    text-align: center;
    font-size: 20px;
}
.close-icon{
    background-color:white;
    border-radius:20px ;
    position: fixed;
    top: 3%;
    right: 2%;
    display: none;
    z-index: 9889999;
}
.close{
    font-size: 40px;
    color: #394B6C !important;
    
}


.navbar ul {
    justify-content: right;
}

.navbar ul {
    margin-right: 100px;
}


.navbar .nav-link:hover {
    color: blue !important;
}

.navbar .dont {
    font-size: larger;
    color: white !important;
    background-color: #2a81ea;
    border-radius: 25px;
}

.dont:hover {
    background-color: rgb(16, 16, 112);
    color: white !important;
}
.container{
    margin-top: 100px;
}
/*home*/


.title {
    display: flex;
    justify-content: center;
}

.hp {
    margin-top: 50px;
}

.container .hp h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #394B6C;
    font-weight: 900;
    font-size: 60px;
}

.container .hp span {
    font-family: Arial, Helvetica, sans-serif;
    color: #394B6C;
    font-family: 'Oswald', sans-serif;
    margin-left: 10px;
}

.container .hp span h3 {
    color: #FF5363 !important;
}

.middle1 {
    justify-content: space-around;
}

.p1 {
    margin-top: 30px;

    color: #3d4b69;
    font-family: 'Times New Roman', Times, serif;

}

.middle1 a {
    font-size: 20px;
}

.how {
    color: white !important;
    background-color: #2a81ea;
    border-radius: 25px;

}

.how:hover {
    background-color: rgb(16, 16, 112);
    color: white !important;
}

.bottom1 {
    margin-top: 20px;
}

.bNum {
    margin: 30px;
}

.word {
    font-weight: bold;
    font-size: 12px;
    color: #7d92bb;

}

.num {
    color: #465675;
    font-size: 24px;
    font-weight: 900;

}

.Lastup {
    font-size: 12px;
    color: #7d92bb;

}

.homeimg img {
    width: 100%;
    height: 100%;
    margin-top: 50px;

}

.home1 {
    display: flex;
}
.arrow{
    background-color: #2b56f5;
    border-radius: 10px;
    width: 3%;
    height: 7%;
    margin-right: 10px;
    position: fixed;
    right: 2%;
    text-align: center;
        z-index: 999999999999999;
}
.up{
    color: white !important;
    font-size: 30px;
    margin-top: 10px;
   

}
/*about*/
#About p{
    color: #3d4b69;
    margin-bottom: 20px;
    font-size: 19px;
    
    

}
.toKnow ul{
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
    border: 1px solid #e7e8ff;
    border-radius: 5px;
    margin-bottom: 15px;
}
.toKnow ul li{
    font-size: 20px;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
    border-bottom: 1px solid #e7e8ff;
        padding: 10px 30px;

    border-radius: 5px; 
    text-align: left;

}
.toKnow ul li a span i{
    float: right;
}






@media(max-width:770px) {
    .home1 {
        display: block;
    }
    .navbar-brand h1{
        font-size:60px ;
    }

    .bottom1 {
        justify-content: center;
    }

    .homeimg img {
        width: 600px;
    }

    .Lastup {
        text-align: center;
    }

    .navicon {

        display: block;
        font-size: 60px;

    }
    .navbar-brand img {
        height: 50px;
        width:50px;
        margin-bottom:5px;
    }
    .nav-menu a{
        font-size: 35px;
    }
    .container{
        margin-top: 200px;
    }
    
    

}

@media(max-width:520px) {
    .home1 {
        display: block;
    }

    .title {
        display: block;
        
    }

    .title h1 {
        text-align: center;
        font-size: 55px !important;
    }
    .title span h3{
        font-size:40px
    }
    .title span h2{
        font-size:40px
    }

    .title span {
        text-align: center;
    }

    .middle1 a {
        margin: 10px;
    }

    .bottom1 {
        justify-content: center;
    }

    .homeimg img {
        width: 100%;
        height: 100%;

    }

    .Lastup {
        text-align: center;
    }

    .bottom1 {
        display: block;
        text-align: center;
    }

    .navicon {

        display: block;
        font-size: 30px;
    }
    .navbar-brand h1 {
        font-size:40px;

    }
    .navbar-brand img {
        height: 30px;
        width: 35px;
        margin-bottom:5px;
    }
    .nav-menu a{
        font-size: 20px;
    }
    .container{
        margin-top: 150px;
    }
    #About h4{
        text-align: center;

    }
    #About h1{
        text-align: center;
    }
    
}
@media(max-width:320px) {
    .home1 {
        display: block;
    }

    .title {
        display: block;
    }

    .title h1 {
        text-align: center;
        font-size: 40px !important;
    }

    .title span {
        text-align: center;
    }

    .middle1 a {
        margin: 10px;
    }

    .bottom1 {
        justify-content: center;
    }

    .homeimg img {
        width: 100%;
        height: 100%;
        vertical-align: middle;

    }

    .Lastup {
        text-align: center;
    }

    .bottom1 {
        display: block;
        text-align: center;
    }
    .navicon {

        display: block;
    }
    .nav-menu a{
        font-size: 15px;
    }
    

}
.About{
    width: 100%;
    height: 100%;
}